:host{
    margin: 1rem;
    padding: 1rem;
}
.form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 3rem;
}
// adres 
.form-group span:nth-child(6) {
    grid-row-end: 4;
}
// number
.form-group span:nth-child(2) {
    grid-row-end: 3;
}

.addFicheTitle {
display: grid;
justify-content: center;
align-items: center;
margin-bottom: 3rem;
}
.formuleTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.btnContainer {
display: flex;
justify-content: center;
align-items: center;
margin: 2rem;

button {
    margin: 2rem;
}
}

@media only screen and (max-width: 800px) {
    .form-group {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        gap: 3rem;
        padding-top: 2rem;
}
.form-group span:nth-child(6) {
    grid-row-end: 7;
}
}

@media only screen and (max-width: 550px) {
    .btnContainer {
        display: grid;
            button {
                width: 12rem;
                margin: 1rem;
            }
    .p-button-raised {
        grid-row-start: 1;
    }
    }
}