<h2 *ngIf="!this.routeId; else update">Klantenfiche toevoegen</h2>
<ng-template #update>
<h2>Klantenfiche Wijzigen</h2>
</ng-template>
<form class="form-group" [formGroup]="formGroupFiches">
    <span class="p-float-label">
        <input id="float-input" formControlName="voornaam" type="text" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Voornaam</label>
    </span>
    <span class="p-float-label">
        <input id="float-input" formControlName="achternaam" type="text" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Achternaam</label>
    </span>
     <span class="p-float-label">
        <input id="float-input" formControlName="telefoonNummer" type="text" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Telefoonnummer</label>
    </span>
    <span class="p-float-label">
        <input id="float-input" formControlName="mobielNummer" type="text" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Mobiel nummer</label>
    </span>
    <span class="p-float-label">
        <input id="float-input" formControlName="adres" type="text" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Adres</label>
    </span>
</form>
<button *ngIf="!this.routeId; else updateButton" [disabled]="!formGroupFiches.valid" pButton type="button" (click)="handleAddAndUpdate()" class="p-button-raised" aria-label="Fiche Toevoegen" icon="pi pi-check" label="Toevoegen aan klantenfiches"></button>
<ng-template #updateButton>
    <button [disabled]="!formGroupFiches.valid" pButton type="button" (click)="handleAddAndUpdate()" class="p-button-raised" aria-label="Fiche Toevoegen" icon="pi pi-check" label="Wijzig klantenfiche"></button>
    </ng-template>

    <h2>Formule toevoegen</h2>
    <form class="form-group" [formGroup]="formGroupFormules">
        <span class="p-float-label">
            <input id="float-input" formControlName="formuleText" type="text" class="p-inputtext-lg" pInputText> 
            <label for="float-input">Formule</label>
        </span>
        <span class="p-float-label">
            <input id="float-input" formControlName="prijs" type="text" class="p-inputtext-lg" pInputText> 
            <label for="float-input">Prijs</label>
        </span>
         <span class="p-float-label">
            <p-calendar formControlName="createdAt" ></p-calendar>
            <label for="float-input">Aangemaakt op</label>
         
        </span>
    </form>
    <button  pButton type="button" (click)="handleAddAndUpdateFormules()" class="p-button-raised" aria-label="Formule Toevoegen" icon="pi pi-check" label="Formule Toevoegen"></button>


