<div *ngIf="!hideFormIfPathStartWithFormule">
<h2 *ngIf="!this.routeId; else update">Klantenfiche toevoegen</h2>
<ng-template #update>
<h2>Klantenfiche Wijzigen</h2>
</ng-template>

<form class="form-group" [formGroup]="formGroupFiches">
    <span class="p-float-label">
        <input id="float-input" pattern="[a-zA-Z]*" formControlName="voornaam" type="text" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Voornaam</label>
    </span>
    <span class="p-float-label">
        <input id="float-input" pattern="[a-zA-Z]*" formControlName="achternaam" type="text" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Achternaam</label>
    </span>
     <span class="p-float-label">
        <input id="float-input" (click)="fillInPhoneNumber()" (input)="phoneNumberValidation()"  formControlName="telefoonNummer" type="number" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Telefoonnummer</label>
    </span>
    <span class="p-float-label">
        <input id="float-input" (click)="fillInMobileNumber()" (input)="mobileNumberValidation()" formControlName="mobielNummer" type="number" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Mobiel nummer</label>
        
    </span>

    <span class="p-float-label">
        <input id="float-input" (click)="fillInZakelijkNumber()" (input)="zakelijkNumberValidation()" formControlName="zakelijkNummer" type="number" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Zakelijk nummer</label>
    </span>
    <span class="p-float-label">
        <input id="float-input" formControlName="adres" style="width: 50vh" type="text" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Adres</label>
    </span>
</form>
<div style="padding: 1rem; color: red;" *ngIf="this.formGroupFiches.controls['telefoonNummer'].invalid || this.formGroupFiches.controls['mobielNummer'].invalid">
    Gelieve een geldig nummer in te voeren
  </div>
<button [disabled]="!formGroupFiches.valid || this.recentCreatedFicheId" pButton type="button" (click)="handleAddAndUpdate()" class="p-button-raised" aria-label="Fiche Opslaan" icon="pi pi-check" label="klantenfiches Opslaan"></button>
</div>

<div *ngIf="!hideFormIfPathStartWithFiche && !showFormIfPathStartWithFicheAndHasFicheId">
    <h2 *ngIf="!this.routeId || createFormuleCheck; else update">Formule toevoegen</h2>
    <ng-template #update>
        <h2>Formule Wijzigen</h2>
        </ng-template>
    <form class="form-group" [formGroup]="formGroupFormules" >
        <span class="p-float-label">
            <textarea pInputTextarea [autoResize]="true" style="width: 40vh;" id="float-input" class="p-inputtext-lg" formControlName="formuleText" type="text" ></textarea>
            <label for="float-input">Formule</label>
        </span>
        <span class="p-float-label">
            <input id="float-input" formControlName="prijs" type="number" class="p-inputtext-lg" pInputText> 
            <label for="float-input">Prijs</label>
        </span>
        <span class="p-float-label">
            <p-calendar formControlName="createdAt" class="p-inputtext-lg" ></p-calendar>
            <label for="float-input">Aangemaakt op</label>
        </span>
        <span class="p-float-label">
            <textarea pInputTextarea [autoResize]="true" style="width: 40vh;" id="float-input" class="p-inputtext-lg" formControlName="opmerking" type="text" ></textarea>
            <label for="float-input">Opmerking</label>
        </span>
    </form>
    <div style="padding: 1rem; color: red;" *ngIf="this.formGroupFormules.controls['prijs'].invalid">
        Gelieve een geldige prijs in te voeren. De prijs kan niet hoger dan 500 euro zijn.
      </div>
    <button pButton type="button" [disabled]="this.formGroupFormules.invalid" (click)="handleAddAndUpdateFormules()" class="p-button-raised" aria-label="Formule Opslaan" icon="pi pi-check" label="Formule Opslaan"></button>
</div>



