<div appHideFormIfPathStartWithFormule>
<h2 class="addFicheTitle" aria-label="title fiches" appAddOrUpdate [routeId]="this.routeId"></h2>
<form class="form-group" [formGroup]="formGroupFiches">
    <span class="p-float-label">
        <input pattern="[a-zA-Z_ ]*" (blur)="ficheNameControl()" [(ngModel)]="this.naam" formControlName="naam" type="text" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Naam</label>
    </span>
    <span class="p-float-label">
        <input (click)="fillInMobileNumber()" (input)="mobileNumberValidation()" formControlName="mobielNummer" type="number" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Mobiel nummer</label>
    </span>
    <span class="p-float-label">
        <input (click)="fillInPhoneNumber()"  (input)="phoneNumberValidation()"  formControlName="telefoonNummer" type="number" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Telefoonnummer</label>
    </span>
    <span class="p-float-label">
        <input (click)="fillInZakelijkNumber()" (input)="zakelijkNumberValidation()" formControlName="zakelijkNummer" type="number" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Zakelijk nummer</label>
    </span>
    <span class="p-float-label">
        <textarea formControlName="adres" appBiggerInput type="text" class="textArea" pInputTextarea></textarea>
        <label for="float-input">Adres</label>
    </span>
</form>
  <app-error-message *ngIf="this.formGroupFiches.controls['telefoonNummer'].invalid || this.formGroupFiches.controls['mobielNummer'].invalid || this.formGroupFiches.controls['zakelijkNummer'].invalid" [errorText]="errorTextNumbers"></app-error-message>
  <div class="btnContainer">
    <button pButton pRipple type="button" appRemoveAddFicheBtn [removeAddFichesBtn]="removeAddFichesBtn"  aria-label="back" (click)="goBack()" icon="pi pi-backward" label="Terug Naar De Vorige Pagina" class="p-button-outlined p-button-secondary"></button>
<button [disabled]="!formGroupFiches.valid || this.recentCreatedFicheId || this.btndisableFiche" appRemoveAddFicheBtn [removeAddFichesBtn]="removeAddFichesBtn" pButton type="button" (click)="handleAddAndUpdate()" class="p-button-raised" aria-label="Fiche Opslaan" icon="pi pi-check" label="klantenfiches Opslaan"></button>
</div>
</div>

<div appHideOrShowFormIfPathHasFiche [recentCreatedFicheId]="this.recentCreatedFicheId">
    <h2 class="formuleTitle" appAddOrHideFormuleTitle [routeId]="this.routeId" >Formule toevoegen</h2>
    <form class="form-group" [formGroup]="formGroupFormules">
        <span class="p-float-label">
            <p-calendar formControlName="createdAt" [dateFormat]="'dd/mm/yy'" class="p-inputtext-lg" ></p-calendar>
            <label for="float-input">Aangemaakt op</label>
        </span>
        <span class="p-float-label">
            <input formControlName="prijs" type="number" class="p-inputtext-lg" pInputText> 
            <label for="float-input">Prijs</label>
        </span>
        <span class="p-float-label">
            <textarea pInputTextarea appBiggerInput class="textArea" formControlName="formuleText" type="text" ></textarea>
            <label for="float-input">Formule</label>
        </span>
        <span class="p-float-label">
            <textarea pInputTextarea appBiggerInput class="textArea" formControlName="opmerking" type="text" ></textarea>
            <label for="float-input">Opmerking</label>
        </span>
    </form>
   <app-error-message *ngIf="this.formGroupFormules.controls['prijs'].invalid" [errorText]="errorTextPrijs"></app-error-message>
   <div class="btnContainer">
    <button pButton pRipple type="button"  aria-label="back" (click)="goBack()" icon="pi pi-backward" label="Terug Naar De Vorige Pagina" class="p-button-outlined p-button-secondary"></button>
    <button pButton type="button" [disabled]="this.formGroupFormules.invalid || this.btndisableFormule" (click)="handleAddAndUpdateFormules()" class="p-button-raised" aria-label="Formule Opslaan" icon="pi pi-check" label="Formule Opslaan"></button>
</div>
</div>



