.propertyNaam {
    color: grey;
    font-size: 12px;
}

:host ::ng-deep .ui-listbox {
    width: 20em;
    z-index: -1 !important;
  }
  :host ::ng-deep .p-ink {
    display: none !important;
  }

  button {
    padding: 1rem 3rem;
    margin: 1rem;

  }