
<div *ngIf="!showSpinner">
    <button pButton routerLink="new" tooltipPosition="top"  type="button" class="p-button-raised"  pTooltip="Klantenfiche Toevoegen" aria-label="Toevoegen" icon="pi pi-plus" label="Klantenfiche Toevoegen"></button>
    <p-splitButton styleClass="p-button-raised p-button-secondary mr-2 mb-2"  tooltipPosition="top" pTooltip="Fiche en/of Formule Exporteren" (onClick)="exportExcel()" label="Export To Excel" icon="pi pi-download" [model]="this.items"></p-splitButton>
    <p-dropdown class="dropdown" (click)="filterField()" [options]="sortFields" [(ngModel)]="selectedFiche" optionLabel="value"></p-dropdown>
<p-orderList [value]="fichesList" controlsPosition="right" filterPlaceholder="Zoeken op naam van een klant"  header="Klantenfiches" filterBy="achternaam,voornaam">
    <ng-template let-fiche pTemplate="fiche">
        <div [routerLink]="fiche.id + '/info'">
            <div style="font-size:18px;float:left;margin:15px 5px 0 0">{{fiche.achternaam}} {{fiche.voornaam}}</div>
            <div style="font-size:18px;float:right;margin:0 5px 0 0;">
                <p class="propertyNaam">Telefoon nummer:</p>
                {{ fiche?.telefoonNummer | nvt | number }}
            </div>
            <div style="font-size:18px;float:right;margin:0 3rem 0 0;">
                <p class="propertyNaam">Mobiel nummer:</p>
                {{ fiche?.mobielNummer | nvt |number }}
            </div>
            <div style="font-size:18px;float:right;margin:0 3rem 0 0;">
                <p class="propertyNaam">Zakelijk nummer:</p>
                {{ fiche?.zakelijkNummer | nvt |number }}
            </div>
        </div>
    </ng-template>
</p-orderList>
</div>
<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>