<div class="container">
<div *ngIf="!showSpinner">
    <h2>Klantenfiches</h2>
    <p-dataView  #dv [value]="fichesList" [paginator]="true" [rows]="10" filterBy="naam" layout="grid">
        <ng-template pTemplate="header">
            <div class="flex">
                <button pButton routerLink="new" tooltipPosition="top" type="button" class="p-button-raised"  pTooltip="Klantenfiche Toevoegen" aria-label="Toevoegen" icon="pi pi-plus" label="Klantenfiche Toevoegen"></button>
                    <span class="p-input-icon-left mb-2 md:mb-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText #input placeholder="Zoeken op naam" (input)="dv.filter(input.value)">
                </span>
                <p-dropdown class="dropdown" (click)="filterField()" [options]="sortFields" [(ngModel)]="selectedFiche" optionLabel="value"></p-dropdown>               
                <p-splitButton styleClass="p-button-raised p-button-secondary mr-2 mb-2"  tooltipPosition="top" pTooltip="Fiches En/Of Formules Exporteren" (onClick)="exportExcel()" label="Export To Excel" icon="pi pi-download" [model]="this.items"></p-splitButton>
            </div>
        </ng-template>
        <ng-template let-fiche pTemplate="gridItem">
            <div class="col-12">
                <div class="product-list-item" [routerLink]="fiche.id + '/info'">
                    <div class="product-list-detail">
                        <p class="propertyNaam" style="font-size: 17px">Naam Klant</p>
                        <div class="product-name">{{fiche.naam}}</div>
                    </div>
                    <div class="product-list-action">
                        <p class="propertyNaam">Telefoonnummer</p>
                        <span class="product-description">{{fiche.telefoonNummer | nvt | number }}</span>
                    </div>
                    <div class="product-list-action">
                        <p class="propertyNaam">Mobiel-nummer</p>
                        <span class="product-description">{{fiche.mobielNummer | nvt | number }}</span>
                    </div>
                    <div class="product-list-action">
                        <p class="propertyNaam">Zakelijk-nummer</p>
                        <span class="product-description">{{fiche.zakelijkNummer | nvt | number }}</span>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>
<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
</div>