.propertyNaam {
    color: grey;
    font-size: 16px;
}

.product-description, .product-name {
  font-size: 18px;
}

.flex {
  display: flex;
  align-items: center;
    justify-content: space-around;
    flex-direction: row;
    span {
      margin: 0.5rem 0 0.4rem 0;
    }
  }
  

  .product-list-item {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    margin-bottom: 1rem;
    cursor: pointer;
  
  }
  .product-list-item div:nth-child(4) {
    grid-column-start: 4;
  }
  
  .col-12:hover {
    background-color: #e4e6eb;
  }

  .p-input-icon-left {
    margin: 0 0 0.8rem 3rem;
  }


  @media only screen and (max-width: 800px) {
    .product-list-item {
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 1rem;
      place-items: unset;
      border-bottom: 1px rgb(195, 185, 185) dotted;
    }
  .flex {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    }
    .propertyNaam {
     font-size: 12px;
     padding-top: 0.5rem;
  }

    button, p-splitButton, .dropdown, .p-input-icon-left {
      margin: unset;
      margin-bottom: 0.5rem;
    }

    .product-list-item div:nth-child(4) {
      grid-column-start: unset;
    }
}

@media only screen and (max-width: 1150px) {
  .p-input-icon-left  {
    margin: unset;
    margin-left: 1rem;
    margin-bottom: 0.7rem;
  }

  .flex {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;

    button, p-splitButton, p-dropdown {
      margin: 0.5rem;
    }
    }
}

