.propertyNaam {
    color: grey;
    font-size: 16px;
}

.product-description, .product-name {
  font-size: 18px;
}

  button  {
    margin: 1rem;
  }

  :host ::ng-deep .p-dropdown, p-splitButton {
    margin: 1rem 2rem 0 0;
    float: right;
  }

  .product-list-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  
  .col-12:hover {
    background-color: #e4e6eb;
  }

  .p-input-icon-left {
    margin: 0 0 0.8rem 3rem;
  }


  @media only screen and (max-width: 750px) {
    .product-list-item {
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 1rem;
      place-items: unset;
      border-bottom: 1px rgb(195, 185, 185) dotted;
    }
  .flex {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    }
    .propertyNaam {
     font-size: 12px;
     padding-top: 0.5rem;
  }

    button, p-splitButton, .dropdown, .p-input-icon-left {
      margin: unset;
      margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 1150px) {
  .p-input-icon-left  {
    margin: unset;
    margin-left: 1rem;
    margin-bottom: 0.7rem;
  }
}

