.propertyNaam {
    color: grey;
    font-size: 12px;
}

:host ::ng-deep .ui-listbox {
    width: 20em;
    z-index: -1 !important;
  }
  :host ::ng-deep .p-ink {
    display: none !important;
  }

  button  {
    margin: 1rem;
  }

  :host ::ng-deep  .p-orderlist-controls-right .p-orderlist-controls {
    display: none;
  }

  :host ::ng-deep .p-dropdown, p-splitButton {
    margin: 1rem 2rem 0 0;
    float: right;
  }

  @media only screen and (max-width: 850px) {
  
}

