:host ::ng-deep .p-toolbar {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    p-button {
        margin-left: 2rem;
    }
}
p-fieldset {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.grid-klant  {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: baseline;
    justify-items: center; 
    gap: 1rem;
    margin-top: 1rem;
}
.grid-formules  {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
}
@media only screen and (max-width: 1200px) {
    .grid-klant  {
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
        justify-items: stretch;
        gap: 1.5rem;
        span {
            margin-top: 1rem;
        }
    }
}
@media only screen and (max-width: 750px) {
    .grid-klant  {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        justify-items: start
    }
    :host ::ng-deep .p-toolbar {
        justify-content: center;
    }
}

.information{
    padding: 3rem;
}

i {
    padding: 1rem;
}

.pi-copy {
    margin: 0.5rem 0 0 0.5rem;
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0 20px;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid #dddbda;
    color: #0070d2;
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    :hover {
        background-color: #f4f6f9; 
    } 

}

.badge {
    padding-left: 1rem;
}