<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toolbar *ngIf="!this.showSpinner">
  <div class="p-toolbar-group-start">
    <p-button label="Formule Toevoegen" (click)="this.router.navigate(['formule/new', this.ficheId])" tooltipPosition="bottom" pTooltip="Een nieuwe formule toevoegen" icon="pi pi-check" styleClass="p-button-success"></p-button>
  </div>
    <div class="p-toolbar-group-center" style="padding: 1rem;">
      <p-button label="Klantengegeven Wijzigen" (click)="this.router.navigate(['fiches/edit', this.ficheId])" icon="pi pi-pencil" pTooltip="Klantgegeven Wijzigen" tooltipPosition="bottom"></p-button>
        <p-button label="Fiche Verwijderen" (click)="deleteFiche()" icon="pi pi-trash" pTooltip="Fiche van de klant verwijderen" tooltipPosition="bottom" styleClass="p-button-danger"></p-button>
      </div>
</p-toolbar>

<div class="information" *ngIf="!this.showSpinner">
<p-fieldset>
    <ng-template pTemplate="header">Informatie van de klant</ng-template>
    <div class="grid">
    <div>
    <h4>Naam</h4>
    <p>{{ klantDetails?.achternaam}} {{ klantDetails?.voornaam }} </p>
</div>
<div>
    <h4>Telefoonnummer</h4>
  <p>{{ klantDetails?.telefoonNummer | nvt | number }} </p>   
  <button class="copyBtn" *ngIf="klantDetails?.telefoonNummer" type="button" (click)="copyText(klantDetails?.telefoonNummer)">Copy</button> 
</div>
<div>
    <h4>Mobiel nummer</h4>
  <p>{{ klantDetails?.mobielNummer | nvt | number }} </p>
    <button class="copyBtn" *ngIf="klantDetails?.telefoonNummer" type="button" (click)="copyText(klantDetails?.mobielNummer)">Copy</button>
</div>
<div>
    <h4>Zakelijk nummer</h4>
  <p>{{ klantDetails?.zakelijkNummer | nvt | number}}</p>  
    <button class="copyBtn" *ngIf="klantDetails?.telefoonNummer" type="button" (click)="copyText(klantDetails?.zakelijkNummer)">Copy</button>
</div>
<div>
    <h4>Adres</h4>
  <p>{{ klantDetails?.adres | nvt }}</p>  
</div>
</div>
</p-fieldset>

<p-fieldset *ngIf="this.formulesList?.length">
  <p-badge [value]='"2"'></p-badge>
    <ng-template pTemplate="header">Formules</ng-template>
    <div *ngFor="let item of formulesList" >
      <div class="grid">
      <div>
      <h4>Formule</h4>
        <p>{{ item.formuleText }}</p>  
    </div>
    <div>
      <h4>Prijs</h4>
        <p>€ {{ item.prijs }}</p>  
    </div>
    <div>
      <h4>Opmerking</h4>
        <p>{{ item.opmerking | nvt }}</p>  
    </div>
    <div>
      <h4>Aangemaakt op</h4>
        <p>{{ item.createdAt | customDate}}</p>  
    </div>
    <div>
      <h4>Laatst aangepast op</h4>
        <p *ngIf="item.updatedAt; else nvt">{{ item.updatedAt | customDate }}</p>  
    </div>
    </div>
    <div class="actions">
      <i class="pi pi-trash" style="color: red; cursor: pointer; font-size: 1.5rem;" (click)="removeFormules(item)"></i>
      <i class="pi pi-pencil" (click)="this.router.navigate(['formule/edit/', item.id])" style="color: blue; cursor: pointer; font-size: 1.5rem;"></i>
    </div>
    </div>
</p-fieldset>
</div>
<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
<ng-template #nvt>
  <p>Niet Van Toepassing</p>
</ng-template>