<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toolbar *ngIf="!this.showSpinner">
  <div class="p-toolbar-group-start">
    <p-button label="Formule Toevoegen" (click)="this.router.navigate(['formule/new', this.ficheId])" tooltipPosition="bottom" pTooltip="Een nieuwe formule toevoegen" icon="pi pi-check" styleClass="p-button-success"></p-button>
  </div>
    <div class="p-toolbar-group-center" style="padding: 1rem;">
      <p-button label="Klantengegeven Wijzigen" (click)="this.router.navigate(['fiches/edit', this.ficheId])" icon="pi pi-pencil" pTooltip="Klantgegeven Wijzigen" tooltipPosition="bottom"></p-button>
        <p-button label="Fiche Verwijderen" (click)="deleteFiche()" icon="pi pi-trash" pTooltip="Fiche van de klant verwijderen" tooltipPosition="bottom" styleClass="p-button-danger"></p-button>
      </div>
</p-toolbar>

<div class="information" *ngIf="!this.showSpinner">
<p-fieldset [toggleable]="true" [transitionOptions]="'500ms'">
    <ng-template pTemplate="header">Informatie van de klant</ng-template>
    <div class="grid-klant">
    <div>
    <h4>Naam</h4>
    <p>{{ klantDetails?.achternaam}} {{ klantDetails?.voornaam }} </p>
</div>
<div>
    <h4>Telefoonnummer</h4>
  <p>{{ klantDetails?.telefoonNummer | nvt | number }} </p>   
  <button class="copyBtn" *ngIf="klantDetails?.telefoonNummer" type="button" (click)="copyText(klantDetails?.telefoonNummer)">Copy</button> 
</div>
<div>
    <h4>Mobiel nummer</h4>
  <p>{{ klantDetails?.mobielNummer | nvt | number }} </p>
    <button class="copyBtn" *ngIf="klantDetails?.telefoonNummer" type="button" (click)="copyText(klantDetails?.mobielNummer)">Copy</button>
</div>
<div>
    <h4>Zakelijk nummer</h4>
  <p>{{ klantDetails?.zakelijkNummer | nvt | number}}</p>  
    <button class="copyBtn" *ngIf="klantDetails?.telefoonNummer" type="button" (click)="copyText(klantDetails?.zakelijkNummer)">Copy</button>
</div>
<div>
    <h4>Adres</h4>
  <p>{{ klantDetails?.adres | nvt }}</p>  
</div>
</div>
</p-fieldset>

<p-fieldset *ngIf="this.formulesList?.length" [toggleable]="true" [transitionOptions]="'500ms'">
  <h5>Formules Bewerken</h5>
  <p-inputSwitch (onChange)="showActions()"></p-inputSwitch>  
  <ng-template pTemplate="header">Formules
      <p-badge class="badge" [value]='this.aantalFormules'></p-badge>
    </ng-template>
    <div *ngFor="let formule of formulesList">
      <div class="grid-formules" [ngStyle]="{'grid-template-columns': this.actionsActive ? 'repeat(6, 1fr)' : 'repeat(5, 1fr)'}">
      <div>
      <h4>Formule</h4>
        <p>{{ formule.formuleText }}</p>  
    </div>
    <div>
      <h4>Prijs</h4>
        <p>{{ formule.prijs | prijs }}</p>  
    </div>
    <div>
      <h4>Opmerking</h4>
        <p>{{ formule.opmerking | nvt }}</p>  
    </div>
    <div>
      <h4>Aangemaakt op</h4>
        <p>{{ formule.createdAt | customDate}}</p>  
    </div>
    <div>
      <h4>Laatst aangepast op</h4>
        <p *ngIf="formule.updatedAt; else nvt">{{ formule.updatedAt | customDate }}</p>  
    </div>
    <div class="actions" *ngIf="actionsActive">
      <button style="margin: 0 1rem 0 1rem;" pButton pRipple type="button" (click)="this.router.navigate(['formule/edit/', formule.id])" icon="pi pi-pencil"  aria-label="Wijzig Formule" class="p-button-rounded p-button-outlined"></button>
      <button  pButton pRipple type="button" (click)="removeFormules(formule)" aria-label="Verwijder Formule" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
    </div>
    </div>
    </div>
</p-fieldset>
</div>
<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
<ng-template #nvt>
  <p>Niet Van Toepassing</p>
</ng-template>