<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>

<p-toolbar *ngIf="!this.showSpinner" class="btnContainter">
  <div class="p-toolbar-group-start">
    <p-button label="Formule Toevoegen" (click)="this.router.navigate(['formule/new', this.ficheId])" tooltipPosition="bottom" pTooltip="Een nieuwe formule toevoegen" icon="pi pi-plus" styleClass="p-button-success"></p-button>
  </div>
    <div class="p-toolbar-group-center">
      <p-button label="Klantengegeven Wijzigen" (click)="this.router.navigate(['fiches/edit', this.ficheId])" icon="pi pi-pencil" pTooltip="Klantgegeven Wijzigen" tooltipPosition="bottom"></p-button>
      </div>
      <p-button label="Fiche Verwijderen" (click)="deleteFiche()" icon="pi pi-trash" pTooltip="Fiche van de klant verwijderen" tooltipPosition="bottom" styleClass="p-button-danger"></p-button>
</p-toolbar>

<div class="information" *ngIf="!this.showSpinner">
<p-fieldset [toggleable]="true" [transitionOptions]="'500ms'" class="klantenFieldset">
    <ng-template pTemplate="header">Informatie van de klant</ng-template>
    <div class="grid-klant">
      <span class="p-float-label">
        <input id="float-input" [value]="this.klantName" [disabled]="true" type="text" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Naam</label>
      </span>
      <span class="p-float-label">
        <input id="float-input" [value]="klantDetails?.telefoonNummer | number" [disabled]="true" type="text" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Telefoonnummer</label>
        <i class="pi pi-copy" *ngIf="klantDetails?.telefoonNummer" appCopyBtnDisable [copyText]="isCopied" [currentCopyText]="klantDetails?.telefoonNummer" (click)="copyText(klantDetails?.telefoonNummer)"></i>
      </span>
      <span class="p-float-label">
        <input id="float-input" [value]="klantDetails?.mobielNummer | number" [disabled]="true" type="text" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Mobielnummer</label>
        <i class="pi pi-copy" *ngIf="klantDetails?.mobielNummer" appCopyBtnDisable [copyText]="isCopied" [currentCopyText]="klantDetails?.mobielNummer" (click)="copyText(klantDetails?.mobielNummer)"></i>
      </span>
      <span class="p-float-label">
        <input id="float-input" [value]="klantDetails?.zakelijkNummer | number" [disabled]="true" type="text" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Zakelijknummer</label>
        <i class="pi pi-copy" *ngIf="klantDetails?.zakelijkNummer" appCopyBtnDisable [copyText]="isCopied" [currentCopyText]="klantDetails?.zakelijkNummer" (click)="copyText(klantDetails?.zakelijkNummer)"></i>
      </span>
      <span class="p-float-label">
        <input id="float-input" [value]="klantDetails?.adres | nvt" [disabled]="true" type="text" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Adres</label>
      </span>
</div>
</p-fieldset>

<p-fieldset *ngIf="this.formulesList?.length" [toggleable]="true" [transitionOptions]="'500ms'">
  <h4>Formules Bewerken</h4>
  <p-inputSwitch (onChange)="showActions()"></p-inputSwitch>  
  <ng-template pTemplate="header">
    <div appFormuleFieldset [aantalFormules]="aantalFormules"> </div>
    </ng-template>
    <div *ngFor="let formule of formulesList">
      <div class="grid-formules" [ngStyle]="{'grid-template-columns': this.actionsActive ? 'repeat(5, 1fr)' : 'repeat(4, 1fr)'}">
        <span class="p-float-label">
          <input id="float-input" [value]="formule.createdAt | customDate" [disabled]="true" type="text" class="p-inputtext-lg" pInputText> 
          <label for="float-input">Datum</label>
        </span>
        <span class="p-float-label">
      <input id="float-input" [value]="formule.formuleText" [disabled]="true" type="text" class="p-inputtext-lg" pInputText> 
      <label for="float-input">Formule</label>
    </span>
    <span class="p-float-label">
      <input id="float-input" [value]="formule.prijs | prijs" [disabled]="true" type="text" class="p-inputtext-lg" pInputText> 
      <label for="float-input">Prijs</label>
    </span>
    <span class="p-float-label">
      <input id="float-input" [value]="formule.opmerking | nvt" [disabled]="true" type="text" class="p-inputtext-lg" pInputText> 
      <label for="float-input">Opmerking</label>
    </span>
    <div class="actions" *ngIf="actionsActive">
      <button pButton pRipple type="button" (click)="this.router.navigate(['formule/edit/', formule.id])" icon="pi pi-pencil"  aria-label="Wijzig Formule" class="p-button-rounded p-button-outlined"></button>
      <button pButton pRipple type="button" (click)="removeFormules(formule)" aria-label="Verwijder Formule" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
    </div>
    </div>
    </div>
</p-fieldset>
</div>
