p-button {
    margin-left: 2rem;
}
p-fieldset {
    padding: 1rem;
}
h4 {
    color: rgb(145, 145, 145);
}
.grid  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}
@media only screen and (max-width: 650px) {
    .grid  {
    display: grid;
    margin-left: unset;
    grid-template-columns: unset;

}
}

.information{
    padding: 3rem;
}

i {
    padding: 1rem;
}