<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toolbar>
    <div class="p-toolbar-group-end" style="padding: 1rem">
        <p-button (click)="updateFiche()"  icon="pi pi-pencil" pTooltip="Klantenfiche wijzigen"></p-button>
        <p-button (click)="deleteFiche()" icon="pi pi-trash" pTooltip="Klantenfiche verwijderen" tooltipPosition="bottom" styleClass="p-button-danger"></p-button>
    </div>
</p-toolbar>

<div class="information">
<p-fieldset>
    <ng-template pTemplate="header">Informatie van de klant</ng-template>
    <div class="grid">
    <div>
    <h4>Naam</h4>
    <p>{{ ficheDetails?.achternaam}} {{ ficheDetails?.voornaam }} </p>
</div>
<div *ngIf="ficheDetails?.telefoonNummer">
    <h4>Telefoonnummer</h4>
  <p>{{ ficheDetails?.telefoonNummer }}</p>  
</div>
<div>
    <h4>Mobiel nummer</h4>
  <p>{{ ficheDetails?.mobielNummer }}</p>  
</div>
<div>
    <h4>adres</h4>
  <p>{{ ficheDetails?.adres }}</p>  
</div>
 
</div>
</p-fieldset>

<p-fieldset>
    <ng-template pTemplate="header">Formules</ng-template>
    Content
</p-fieldset>
</div>