<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toolbar>
    <div class="p-toolbar-group-end" style="padding: 1rem">
        <p-button (click)="updateFiche()"  icon="pi pi-pencil" pTooltip="Klantenfiche wijzigen"></p-button>
        <p-button (click)="deleteFiche()" icon="pi pi-trash" pTooltip="Klantenfiche verwijderen" tooltipPosition="bottom" styleClass="p-button-danger"></p-button>
    </div>
</p-toolbar>

<div class="information">
<p-fieldset>
    <ng-template pTemplate="header">Informatie van de klant</ng-template>
    {{ ficheDetails?.voornaam }}
</p-fieldset>

<p-fieldset>
    <ng-template pTemplate="header">Formules</ng-template>
    Content
</p-fieldset>
</div>