<h2 *ngIf="!this.ficheId; else update">Klantenfiche toevoegen</h2>
<ng-template #update>
<h2>Klantenfiche Wijzigen</h2>
</ng-template>
<form class="form-group" [formGroup]="formGroupFiches">
    <span class="p-float-label">
        <input id="float-input" formControlName="voornaam" type="text" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Voornaam</label>
    </span>
    <span class="p-float-label">
        <input id="float-input" formControlName="achternaam" type="text" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Achternaam</label>
    </span>
     <span class="p-float-label">
        <input id="float-input" formControlName="telefoonNummer" type="text" class="p-inputtext-lg" pInputText> 
        <label for="float-input">telefoonnummer</label>
    </span>
    <span class="p-float-label">
        <input id="float-input" formControlName="mobielNummer" type="text" class="p-inputtext-lg" pInputText> 
        <label for="float-input">Mobielnummer</label>
    </span>
    <span class="p-float-label">
        <input id="float-input" formControlName="adres" type="text" class="p-inputtext-lg" pInputText> 
        <label for="float-input">adres</label>
    </span>
</form>
<button *ngIf="!this.ficheId; else updateButton" [disabled]="!formGroupFiches.valid" pButton type="button" (click)="handleAddAndUpdate()" class="p-button-raised" aria-label="Fiche Toevoegen" icon="pi pi-check" label="Toevoegen aan klantenfiches"></button>
<ng-template #updateButton>
    <button [disabled]="!formGroupFiches.valid" pButton type="button" (click)="handleAddAndUpdate()" class="p-button-raised" aria-label="Fiche Toevoegen" icon="pi pi-check" label="Wijzig klantenfiche"></button>
    </ng-template>

